global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    static_configs:
    - targets: ['node-exporter:9100']

  - job_name: 'nginx-log'
    static_configs:
    - targets: ['nginx-exporter:4040']

  - job_name: 'process'
    static_configs:
    - targets: ['process-exporter:9256']

  - job_name: 'loki'
    static_configs:
    - targets: ['loki:3100']

  - job_name: 'tempo'
    static_configs:
    - targets: ['tempo:3200']

alerting:
  alertmanagers:
  - static_configs:
    - targets: ['alertmanager:9093']

otlp:
  keep_identifying_resource_attributes: true
